* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 3rem;

  /* colors */
  --hue: 275;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 76% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 95%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: rgb(15, 0, 30);
  --body-color-light:rgb(12, 0, 24);
  --color: #6610f2;

  /*======Fonts======*/
  --title-font-size: 1.875rem;
  --title-card-font-size: 1.4rem;
  --subtitle-font-size: 1rem;
  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
  text-align: center;
}

.titleCard {
  font: 600 var(--title-card-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
  text-align: center;
}

.button {
  background: var(--color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.4rem;
  font: 500 1rem var(--body-font);
  transition: background 1s;
}

.button:hover {
  background: #5000b9;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #5000b9;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
}

/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.grid-flow {
  display: grid;
  grid-auto-flow: column;
}

.section {
  padding: 3rem 0 0 0;
}

.section .title {
  margin-bottom: 2.5rem;
}

.section .titleCard {
  margin-bottom: 1.5rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section #home {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--color);
}

.text {
  margin-bottom: 1.5rem;
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

#header {
  border-bottom: 1px solid #2b2b2b;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/*====  LOGO ============================ */
.logo {
  font: 700 1.8rem var(--title-font);
  color: var(--title-color);
  letter-spacing: 1px;
}

.logo span {
  color: var(--color);
}

.logo-alt span {
  color: var(--body-color);
}

/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.3s;
  position: relative;
}

nav ul li a:hover,
nav ul li a i:hover,
nav ul li a.active {
  color: var(--color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: rgba(103, 16, 242, 0.185);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.4s;
}

nav ul li a i {
  font-size: 1.5rem;
  margin: 1rem;
  color: var(--title-color);
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  color: var(--color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*====  HOME ============================ */
#home {
  overflow: hidden;
  height: 100vh;
  background: url(assets/images/home.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: darken rgba(0, 0, 0, 0.7);
}

#home .container {
  margin-top: 8rem;
}

#home .button {
  margin-top: 3rem;
}

#home .text {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--color);
}

#home .text h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

#home .text p {
  color: #cecece;
  font-size: 1.55rem;
  margin-bottom: 2rem;
  border-right: 2px solid #000;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: pisca normal infinite .8s, escrever normal 5s steps(55) both;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

@keyframes escrever {
  100%{
    max-width: 100%;
  }
}

@keyframes pisca {
  100%{
    border-right-color: transparent ;
  }
}

/*============  About  ===========*/

#about .container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#about img{
  border-radius: 50%;
  width: 15rem;
}

#about .content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
/*============  Skills  ===========*/

.skill-cards{
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.skill-card {
  background-color: var(--body-color-light);
  padding: 2rem 2rem; 
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 1px solid #5000b94d;
  transition: all 1s;
  width: 18rem;
  height: 18rem;
}

.skill-card:hover{
  border: 0.5px solid var(--color);
}

.skill-card:hover i{
  color: #6900f3;
}

.skill-card p {
  margin-bottom: 1 rem;
}

.skill-card i {
  display: block;
  font-size: 5rem;
  margin-bottom: 1rem;
  color: #5000b9;
  transition: color 1s;
}

/*======   Technology   ======*/

#technology{
  margin: 1rem auto;
  width: 56rem;
}

#technology ul {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #5000b94d;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  transition: border 1s;
}

#technology ul:hover{
  border: 1px solid #6900f3;
}

#technology li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e0014;
  padding: 1rem;
  border-radius: 50%;
  transition: all 1s;
}

#technology li i{
  font-size: 2rem;
  color: #6900f3;
  transition: filter 0.8s;
}

#technology ul li:hover{
  filter: brightness(1.5);
}

/*============  Projects  ===========*/

#projects{
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#projects .project-card img{
  width: 100%;
  height: 13rem;
  margin-bottom: 1rem;
}

.project-card {
  background-color: var(--body-color-light);
  padding: 0 0rem 2rem 0;
  text-align: center;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: border 1s;
  border-radius: 5px;
  width: 20rem;
  height: 28rem;
  transition: all 0.5s;
}

.project-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-card:hover {
  border: 0.5px solid var(--color);
  scale: 105%;
  z-index: inherit;
}

.project-card p {
  padding: 0.5rem;
}

#projects .link {
  align-items: center;
  text-align: center;
  color: var(--color);
  margin: 1.5rem auto;
}

.project-card > i {
  display: block;
  font-size: 5rem;
  margin-bottom: 1rem;
  color: var(--color);
}

.project-card .buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

.button i{
  font-size: 1.8rem;
}


/*============  Contact  ===========*/

#contact .text {
  text-align: center;
}

#contact a {
  color: var(--text-color-light);
  text-align: center;
}

#contact .links {
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
}

#contact a i {
  margin-right: 1rem;
  font-size: 1.25rem;
}

/*===Footer===*/

footer {
  background: var(--color);
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
  width: -moz-fit-content
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

footer .social a i:hover {
  transform: translateY(-8px);
  color: #370080;
}

footer.section {
  padding: 4rem 0;
}

.back-to-top {
  background: var(--color);
  color: var(--text-color-light);
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  padding: 0.5rem;
  clip-path: circle();
  font-size: 1.5rem;
  line-height: 0;
  visibility: hidden;
  opacity: 0;

  transition: 0.4s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/*Responsive*/

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 5rem 0;
  }

  header {
    height: 4rem;
    align-items: center;
  }

  .section header,
  #projects header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  main {
    margin-top: var(--header-height);
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a .grid-icon-item {
    font-size: 10rem;
  }

  nav .menu ul a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  #home{
    height: 100vh;
  }

  #home .container {
    margin: 0 auto;
  }

  #home .text {
    text-align: center;
    margin-top: 5rem;
  }

  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  #about .text,
  #about .title {
    order: 0;
    text-align: left;
  }

  #projects .project-cards {
    display: flex;
    flex-direction: row;
  }


  #contact .container {
    grid-auto-flow: column;
    align-items: center;
    margin: 0 auto;
  }

  #contact .container p {
    margin-bottom: 2rem;
  }

  #contact .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #contact .links .button {
    width: 20rem;
  }

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}

@media (min-width: 980px) {
  .container {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
  }

  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 5rem 0;
  }

  header {
    height: 4rem;
    align-items: center;
  }

  .section header,
  #projects header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #technology .cards {
    grid-template-columns: 1fr 1fr 1fr;
 }

  .button {
    height: 2.5rem;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  main {
    margin-top: var(--header-height);
  }


  #home .container {
    margin: 0 auto;
    height: 60vh;
  }

  #home .text {
    text-align: center;
    margin-top: 5rem;
  }

  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  #about .text,
  #about .title {
    order: 0;
    text-align: left;
  }

  #projects .project-cards .project-card a {
    margin-top: 2rem;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #technology .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
  }

  #project .container {
    margin-left: auto;
    margin-right: auto;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
    margin: 0 auto;
  }

  #contact .container p {
    margin-bottom: 2rem;
  }

  #contact .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #contact .links .button {
    width: 20rem;
  }

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}
